/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock
package-lock.json
resources/lang
public/mvcombine
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
/storage/framework/cache/
/storage/framework/sessions/
/bootstrap/cache/services.php
/storage/framework/views/
/storage/logs/
/storage